<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homework #7</title>
  </head>

  <body>
    <ul class="list">
      <li>Это первый параграф</li>
      <li>Это второй параграф</li>
      <li>Это третий параграф</li>
    </ul>
    <textarea class="newP" type="text"></textarea>
    <button hidden="false" class="button" onclick="buttonClick()">
      Отправить
    </button>
    <script src="dz7.script.js"></script>
  </body>
</html>
